{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if market_list %}
        <h1>Add an Recipe to Market List {{market_list.name}}</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'market' market_list.id %}" class="btn btn-secondary">Go Back</a>
        </form>
    {% endif %}
</div>
{% endblock %}