{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Add New Ingredients</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{form.name}}
        {{form.categorie}}
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{% url 'ingredients_list' %}" class="btn btn-secondary">Go Back</a>
        </div>
    </form>

</div>
{% endblock%}