{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if recipe%}
        <h1>Add an Ingredients to the recipe {{recipe.name}}</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{form.ingredient}}
            {{form.value}}
            {{form.unity}}
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'recipe' recipe.id  %}" class="btn btn-secondary">Go Back</a>
        </form>
    {% endif %}
</div>
{% endblock %}