{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <div class="d-flex justify-content-end">
        <a href="{% url 'market' market.id %}" class="btn btn-secondary">Go Back</a>
    </div>
    <h1 class="d-flex justify-content-center">{{market}}</h1>
    <h2 class="d-flex justify-content-center">generate shopping list</h2>

    {% if shopping_list %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-1"></th>
                <th scope="col" class="col-4">Name</th>
                <th scope="col" class="col-4 text-center">Quantity</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for ingredient in shopping_list %}
                <tr>
                    <td class="text-center">
                        <input class="form-check-input" type="checkbox">
                    </td>
                    <td>{{ingredient.name}}</td>
                    <td class="text-center">
                        {% if ingredient.gr != 0 %}
                            {{ingredient.gr}} gr
                        {% endif %}
                        {% if ingredient.un != 0%}
                            {{ingredient.un}} uni
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}