{% extends "base.html" %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1 class="d-flex justify-content-center"> Market Shopping List </h1>
    <span>
        Generate your shopping lists based on the recipes you define. Create your lists of recipes to keep them in order.
    </span>
    {% if user.is_authenticated %}
        <section>
            <h2>All Market Shopping List</h2>
            <div class="d-flex justify-content-end">
                <a href="{% url 'add_market' %}" class="btn btn-primary">Add</a>
            </div>
            {% if market_list %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="col-8">Market name</th>
                            <th scope="col" class="col-2 text-center">Options</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for market in market_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'market' market.id %}" class="icon-link text-decoration-none">{{market.name}}</a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'update_market' market.id %}" class="icon-link text-decoration-none"><i class="ri-edit-box-fill"></i></a>
                                    <a href="{% url 'delete_market' market.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No recipes avaible</p>
            {% endif %}
        </section>
    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="username" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}