{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Ingredients</h1>
    <div class="d-flex justify-content-end">
        <a href="{% url 'add_ingredient' %}" class="btn btn-primary">Add</a>
    </div>
    {% if Vegetables or Meat or Dairy or Condiment or Fruits or Pasta %}
        {% if Vegetables %}
            <h2>Vegetables</h2>
            <ul class="list-group">
                {% for vegetable in Vegetables%}
                    <li class="list-group-item d-flex justify-content-between">
                        {{vegetable.name}}
                        <a href="{% url 'delete_ingredient' vegetable.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if Meat %}
            <h2>Meats</h2>
            <ul class="list-group">
                {% for meat in Meat %}
                <li class="list-group-item d-flex justify-content-between">
                        {{meat.name}}
                        <a href="{% url 'delete_ingredient' meat.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if Dairy %}
            <h2>Dairies</h2>
            <ul class="list-group">
                {% for dairy in Dairy%}
                <li class="list-group-item d-flex justify-content-between">
                        {{dairy.name}}
                        <a href="{% url 'delete_ingredient' dairy.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if Condiments %}
            <h2>Condiments</h2>
            <ul class="list-group">
                {% for condiment in Condiments%}
                <li class="list-group-item d-flex justify-content-between">
                        {{condiment.name}}
                        <a href="{% url 'delete_ingredient' condiment.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if Fruits %}
            <h2>Fruits</h2>
            <ul class="list-group">
                {% for fruit in Fruits%}
                <li class="list-group-item d-flex justify-content-between">
                        {{fruit.name}}
                        <a href="{% url 'delete_ingredient' fruit.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if Pasta %}
            <h2>Pastas</h2>
            <ul class="list-group">
                {% for pasta in Pasta%}
                <li class="list-group-item d-flex justify-content-between">
                        {{pasta.name}}
                        <a href="{% url 'delete_ingredient' pasta.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>No ingredients avaible</p>
    {% endif %}
</div>
{% endblock %}