{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
        {% if market_list %}
            <div class="d-flex justify-content-end">
                <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
            </div>
            <h1 class="d-flex justify-content-center">{{market_list.name}}</h1>

            <div class="d-flex justify-content-between">
                <h3>List of Recipes</h3>
                <a href="{% url 'add_recipe_to_market' market_list.id %}" class="btn btn-primary">Select Recipe</a>
            </div>
            {% if market_list.recipe %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="col-4">Name</th>
                            <th scope="col" class="col-1 text-center">Option</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for each_recipe in market_list.recipe.all %}
                            <tr>
                                <td>{{each_recipe.name}}</td>
                                <td class="text-center">
                                    <a href="{% url 'delete_recipe_from_market' market_list.id each_recipe.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No ingredients on the recipe avaible</p>
            {% endif %}

            <div class="d-flex justify-content-end">
                <a href="{% url 'generate_list' market_list.id %}" class="btn btn-primary">Shopping List</a>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}