{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Recipes List</h1>

    <div class="d-flex justify-content-end">
        <a href="{% url 'add_recipe' %}" class="btn btn-primary ">Add Recipe</a>
    </div>

    {% if recipes_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-8">Recipes name</th>
                    <th scope="col" class="col-2 text-center">Options</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for recipe in recipes_list %}
                <tr>
                    <td>
                        <a href="{% url 'recipe' recipe.id %}" class="icon-link text-decoration-none">{{recipe.name}}</a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'update_recipe' recipe.id %}" class="icon-link text-decoration-none"><i class="ri-edit-box-fill"></i></a>
                        <a href="{% url 'delete_recipe' recipe.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No recipes avaible</p>
    {% endif %}
</div>
{% endblock %}