{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if recipe %}
        <div class="d-flex justify-content-end">
            <a href="{% url 'recipes_list' %}" class="btn btn-secondary">Go Back</a>
        </div>
        <div class="d-flex flex-column align-items-center">
            <h2>Recipe</h2>
            <h1>{{recipe}}</h1>
        </div>

        <div class="d-flex justify-content-between">
            <h3>List of Ingredients</h3>
            <a href="{% url 'add_ingredient_to_recipe' recipe.id %}" class="btn btn-primary">Add</a>
        </div>
        {% if ingredients_detail %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-4">Name</th>
                        <th scope="col" class="col-4">Categorie</th>
                        <th scope="col" class="col-3">Quantity</th>
                        <th scope="col" class="col-1 text-center">Option</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for ingredient in ingredients_detail %}
                        <tr>
                            <td>{{ingredient.ingredient}}</td>
                            <td>{{ingredient.ingredient.get_categorie_display}}</td>
                            <td>{{ingredient.value}} {{ingredient.unity}}</td>
                            <td class="text-center">
                                <a href="{% url 'delete_ingredient_from_recipe' recipe.id ingredient.ingredient.id %}" class="icon-link text-decoration-none"><i class="ri-delete-bin-line"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No ingredients on the recipe avaible</p>
        {% endif %}
    {% endif%}
</div>
{% endblock %}