{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Register</h1>

    <form method="post" action="">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Your registration has errors
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {{form.username}}
        {{form.first_name}}
        {{form.last_name}}
        {{form.email}}
        {{form.password1}}
        {{form.password2}}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}