{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Update Recipe Name</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'recipes_list' %}" class="btn btn-secondary">Go Back</a>
    </form>

</div>
{% endblock%}